DJANGO_SECRET_KEY=
DJANGO_ALLOWED_HOSTS=127.0.0.1

DB_HOST=localhost
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_PORT=5432

JWT_ACCESS_LIFETIME_MINUTES=5
JWT_REFRESH_LIFETIME_DAYS=7

DEBUG=
ENVIRONMENT=
LANGUAGE_CODE=en-us
TIME_ZONE=