Django==5.1.6
djangorestframework==3.15.2
django-filter==24.3
psycopg2-binary>=2.9.11

flake8==7.3.0
black==26.5.1
faker==40.18.0
pytest==9.0.3
pytest-django==4.12.0
ruff==0.15.13   # ruff check .  # ruff check . --fix   # ruff format .
pygments==2.20.0
pluggy==1.6.0
iniconfig==2.3.0

Django==5.1.6
djangorestframework==3.15.2
python-dotenv==1.0.1
drf-flex-fields==1.0.2
drf-extensions==0.7.1
ippanel==2.0.7
drf_spectacular==0.28.0
django-cors-headers==4.7.0
django-debug-toolbar==5.0.1
djangorestframework-simplejwt==5.4.0
django-filter==24.3
drf-standardized-errors==0.14.1
python-jose==3.5.0
ua-parser==1.0.1
django-currentuser==0.8.0
drf-spectacular==0.28.0
drf-spectacular-sidecar==2025.9.1
python-dotenv==1.0.1
django-location-field==2.7.3
Pillow==12.1.0
django-extensions
django-import-export